
  <div class="container">
    <div class="row">
        <div class="col-lg-8 pt-3">
            <h3>Thánh toán</h3>
            <div class="col-lg-8 pt-3">
              <h4>Phương thức thanh toán</h4>
              <button class="paypayl">
                <img src="https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404__480.png" class="img-paypal">
                <p class="text-paypal">paypal</p>
              </button>
            </div>
        </div>
        <div class="col-lg-4 pt-5 ">
            
            <div class="content-right">
                <h5>Hóa đơn</h5>
                <tbody>
                    <p>Chưa giảm giá</p>
                    <p>Giảm giá</p>
                    <p>Mã giảm giá</p>
                    <p>Tổng cộng</p>
                     <div class="button">
                          <form action="/pay" method="post">
                              <input type="submit" value="Buy">
                          </form>
                      </div>
                </tbody>
            </div>
          
        </div>
    </div>
</div>

<script>
    
</script>