@import '_variables';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}


.user-avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
    line-height: 47px;
}
.header-logo {
    font-size: 17px;
    color: #000;
    float: left;
}
.icon-new {
    background-color: rgb(79, 79, 228);
    border-radius: 5px;
    color: white;
    margin-left: 10px;
}

.header .icon-header {
    line-height: 47px;
    padding: 0 10px;
    font-size: 25px;
    color:rgba(206, 204, 204, 0.5);
}
.header .icon-header:hover {
    color: rgb(198, 198, 44);
} 
.search-header {
    padding-right: 150px;
    margin-left: 260px;
}
.submit-header {
    margin-left: 30%;
	
}
.description {
	width: 390px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.center {
    background-color: rgb(255, 255, 255);
}
.center-text-color {
    padding: 0 5px;
    color: rgb(62, 50, 50);
    border-radius: 10px;
    font-style: normal;
}
.center-text-color:hover {
    background-color: rgb(238, 226, 58);
    
}
.video-title .shoping {
    text-decoration: none;
    color: #000;
   
}
.video-title .add-shoping {
    text-decoration: none;
    color: #000;
    border-radius: 10px;
}
.nav {
    margin-left: 220px;
    color: #000;
}
.center-title {
    font-size: 13px;
}
.card-coin {
    color: red;
    font-size: 20px;
}
.content-shoping {
	margin-left: 50px;
}
.content-right {
	background-color: #c8c859;
    border-radius: 20px;
    height: 250px;
    padding: 0 30px;
    margin-top: 111px;
}

.register-login {
    background-color: #ccc;
    width: 35%;
    margin-left: 27%;
    height: 300px;
    border-radius: 10px;
    margin-top: 10px;
}
.logo-login, .logo-register {
    text-align: center;
    font-size: 56px;
}
.email {
    padding: 0 30px;
    margin-bottom: 15px;
}
#email {
	margin-left: 50px;
}
#password {
    margin-left: 20px;
}
#password .password {
    padding: 0 29px;
    margin-bottom: 21px;
}
.create {
    margin-left: 38%;
    text-decoration: none;
    
}
#username {
    margin-left: 24px;
    margin-bottom: 10px;
}
.username {
    padding: 0 28px;
}

.text-checkbox {
    margin-left: 10px;
}