

<div class="list-group mt-3">
  <a href="/admin/user" class="list-group-item list-group-item-action active" aria-current="true">
    All User
  </a>
  <a href="/admin/stored/courses" class="list-group-item list-group-item-action">ALL Courses</a>
  <a href="/courses/create" class="list-group-item list-group-item-action">Create Course</a>
  <a href="/admin/create" class="list-group-item list-group-item-action">Create Users</a>
</div>