
 <footer class="footer-distributed mt-3">
	<div class="footer-left">     
		<img src="https://donga.edu.vn/Portals/0/article/Cover/hoa%20AD_06_05_2022_04_46_16.png" alt="LOGO" width="50" height="50" class="d-inline-block align-text-top"><h3>Dong A</h3></img>
		<p class="footer-links">
		    <a href="#" class="link-1">Home</a>
					
		    <a href="#">Blog</a>
				
			<a href="#">Pricing</a>
				
			<a href="#">About</a>
					
			<a href="#">Faq</a>
					
			<a href="#">Contact</a>
		</p>

		<p class="footer-company-name">© 2022 Công ty TNHH Công Nghệ Giáo Dục Topica Việt Nam</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>444 S. Cedros Ave</span> Solana Beach, California</p>
        </div>

		<div>
			<i class="fa fa-phone"></i>
				<p>+1.555.555.5555</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com">support@company.com</a></p>
		</div>

	</div>

		<div class="footer-right">

			<p class="footer-company-about">
				<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
			</p>

		<div class="footer-icons">

			<a href="#"><i class='bx bxl-facebook-circle' ></i></a>
			<a href="#"><i class='bx bxl-youtube' ></i></a>
			<a href="#"><i class='bx bxl-twitter' ></i></a>
			<a href="#"><i class='bx bxl-gmail' ></i></a>
			</div>
			</div>

</footer>
