<div class="mt-4">
    <h3>Đăng khóa học</h3>

    <form method="post" action="/courses/store">
    <div class="mb-3">
        <label for="name">tên khóa học</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="description">Mô tả</label>
        <input type="text" class="form-control " id="description" name="description" >
    </div>
    <div class="mb-3">
        <label for="videoID" >VideoID</label>
        <input type="text" class="form-control" id="videoID" name="videoID">
    </div>
    <div class="mb-3">
        <label for="lever">Trình độ</label>
        <input type="text" class="form-control" id="lever" name="lever">
    </div>
     <div class="mb-3">
        <label for="course">Khóa học</label>
        <input type="text" class="form-control" id="course" name="course">
    </div>
    <div class="mb-3">
        <label for="coin">Giá cả</label>
        <input type="text" class="form-control" id="coin" name="coin">
    </div>
    <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>